/* .image {
    border-radius: 50%;
} */
 /* *{
    background-color: hsl(0, 0%, 12%);
 } */


.button {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 7px;
    background-color: hsl(0, 0%, 20%);
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 20%);

}
.button span{
    background-color: hsl(0, 0%, 8%);
    color: white;
    width: 400px;
    height: 60px;
    border-radius: 20px;
}
.button span p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.button :hover {
    background-color: greenyellow;
    color:hsl(0, 0%, 8%)
}

h4 {
    color: greenyellow;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 60%;
    padding:20px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 20px;
}
@media only screen and (max-width: 600px){
    .image{
        width: 100%;
    }
}

